
.about-me {
  text-align: center;
}
.page-footer{
    position: fixed;
    bottom: 0;
}
.cf{
  border-radius: 30px;
  margin: 20px;
}
.am{
  background-color: whitesmoke;
  border-style: groove;
  border: 4px groove lightgray;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  opacity: 0.8;
}
img {
  opacity: 1;
}
img:hover {
  opacity: 0.9;
}
.c{
  margin: 250px;
  border-radius: 20px;
}
body.background{
  background-color: gray;
}
